<div class="form-header-container">
    <h2>
        <button tabindex="0" type="button">
            <div>
                <span class="material-icons" color="rgba(0, 0, 0, 0.87)" class="back-arrow"><i class="material-icons">
                        keyboard_backspace
                    </i></span>
            </div>
        </button>
        {{ menuOption?.name }}
        <a target="_blank" rel="noopener noreferrer" tabindex="0">
            <div>
                <span class="material-icons" color="rgba(0, 0, 0, 0.87)">help_outline</span>
                help_outline
            </div>
        </a>
    </h2>
</div>