<div class="maintenance-menu-container">
  <button tabindex="0" type="button" class="tab-menu-button">
    <div>
      <div matRipple [matRippleColor]="rippleEffectsColor" routerLink="/all" routerLinkActive="active"
        class="tab-menu-item">
        All
      </div>
    </div>
  </button>
  <button tabindex="0" type="button" class="tab-menu-button">
    <div>
      <div matRipple [matRippleColor]="rippleEffectsColor" routerLink="/fields" routerLinkActive="active"
        class="tab-menu-item">
        Fields
      </div>
    </div>
  </button>
  <button tabindex="0" type="button" class="tab-menu-button">
    <div>
      <div matRipple [matRippleColor]="rippleEffectsColor" routerLink="/filters" routerLinkActive="active"
        class="tab-menu-item">
        Filters
      </div>
    </div>
  </button><button tabindex="0" type="button" class="tab-menu-button">
    <div>
      <div matRipple [matRippleColor]="rippleEffectsColor" routerLink="/forms" routerLinkActive="active"
        class="tab-menu-item">
        Forms
      </div>
    </div>
  </button><button tabindex="0" type="button" class="tab-menu-button">
    <div>
      <div matRipple [matRippleColor]="rippleEffectsColor" routerLink="/organizationUnits" routerLinkActive="active"
        class="tab-menu-item">
        Organization Unit
      </div>
    </div>
  </button><button tabindex="0" type="button" class="tab-menu-button">
    <div>
      <div matRipple [matRippleColor]="rippleEffectsColor" routerLink="/others" routerLinkActive="active"
        class="tab-menu-item">
        Other
      </div>
    </div>
  </button>
</div>
