<div class="maintenance-left-menu-container-div">
    <div *ngIf="isModuleServicesOpenedCA" class="row ml-1 mt-2">
        <div *ngFor="let menuItem of menuConfigItems[0].menuOptions" class="maintenance-left-menu-list-container">
            <div>
                <div class="maintenance-left-menu-list-item">
                    <div class="title-div">
                        <span class="title">{{ menuItem.name }}</span>
                        <span style="color: rgba(0, 0, 0, 0.54); display: block; font-size: 14px;"></span>
                    </div>
                </div>
                <div class="description">
                    {{ menuConfigItems[0].instruction }}
                </div>
                <div class="operation-div">
                    <button tabindex="0" type="button" class="operations-button"
                        [routerLink]="['/' + menuConfigItems[0].route, menuItem.route]"
                        (click)="openServiceContentList(menuItem, menuConfigItems)" [queryParams]="{ entryform: true }">
                        <div>
                            <div class="operations-container">
                                <span matRipple class="add-button">Add</span>
                            </div>
                            <span class="material-icons plus-button"></span>
                        </div>
                    </button>
                    <button [routerLink]="['/' + menuConfigItems[0].route, menuItem.route]"
                        (click)="openServiceContentList(menuItem, menuConfigItems)" tabindex="0" type="button"
                        class="list-button">
                        <div>
                            <div class="list-div">
                                <span class="list-item">List</span>
                            </div>
                            <span class="material-icons list-icon"></span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isTableListOpenedCA" class="row ml-3">
        <div class="maintenance-left-menu-container-list">
            <div *ngIf="!APIDataResult">
                <app-progress-bar class="progress-bar"></app-progress-bar>
                <p>Loading...</p>
                <!-- <app-progress-spinner ></app-progress-spinner> -->
            </div>
            <app-list-view *ngIf="APIDataResult" [menuOption]="menuOption" [APIDataResult]="APIDataResult"
                [APIParams]="APIParams" (deleteEventEmitter)="onDelete($event)"
                (viewMoreDetailsEventEmitter)="onViewMoreDetails($event)">
            </app-list-view>
        </div>
    </div>
    <div class="maintenance-left-menu-container-div">
        <div *ngIf="isEntryformOpenedCA" class="row ml-1 mt-2">
            <div class="maintenance-left-menu-list-container" style="width: 100% !important">
                <div *ngIf="APIParams === 'fields'">
                    <app-field-data-entry></app-field-data-entry>
                </div>
                <div *ngIf="APIParams !== 'fields'">
                    <p>This is any entry form</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="example-button-row">
            <!-- ToDo: Pass this in FAB Button - [matMenuTriggerFor]="animals" -->
            <button (click)="openDataEntryForm()" matRipple class="fab" mat-mini-fab color="primary">
                <i class="material-icons">
                    add
                </i>
            </button>
            <!-- <mat-menu #animals="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="vertebrates">
                    Vertebrates
                </button>
                <button mat-menu-item [matMenuTriggerFor]="invertebrates">
                    Invertebrates
                </button>
            </mat-menu>

            <mat-menu #vertebrates="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
                <button mat-menu-item [matMenuTriggerFor]="amphibians">
                    Amphibians
                </button>
                <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
                <button mat-menu-item>Birds</button>
                <button mat-menu-item>Mammals</button>
            </mat-menu>

            <mat-menu #invertebrates="matMenu">
                <button mat-menu-item>Insects</button>
                <button mat-menu-item>Molluscs</button>
                <button mat-menu-item>Crustaceans</button>
                <button mat-menu-item>Corals</button>
                <button mat-menu-item>Arachnids</button>
                <button mat-menu-item>Velvet worms</button>
                <button mat-menu-item>Horseshoe crabs</button>
            </mat-menu>

            <mat-menu #fish="matMenu">
                <button mat-menu-item>Baikal oilfish</button>
                <button mat-menu-item>Bala shark</button>
                <button mat-menu-item>Ballan wrasse</button>
                <button mat-menu-item>Bamboo shark</button>
                <button mat-menu-item>Banded killifish</button>
            </mat-menu>

            <mat-menu #amphibians="matMenu">
                <button mat-menu-item>Sonoran desert toad</button>
                <button mat-menu-item>Western toad</button>
                <button mat-menu-item>Arroyo toad</button>
                <button mat-menu-item>Yosemite toad</button>
            </mat-menu>

            <mat-menu #reptiles="matMenu">
                <button mat-menu-item>Banded Day Gecko</button>
                <button mat-menu-item>Banded Gila Monster</button>
                <button mat-menu-item>Black Tree Monitor</button>
                <button mat-menu-item>Blue Spiny Lizard</button>
                <button mat-menu-item disabled>Velociraptor</button>
            </mat-menu> -->
        </div>
    </div>
</div>