<div class="maintenance-left-menu-container-div">
    <div *ngIf="isModuleServicesOpenedCA" class="row ml-1 mt-2">
        <div *ngFor="let menuItem of menuConfigItems[0].menuOptions" class="maintenance-left-menu-list-container">
            <div>
                <div class="maintenance-left-menu-list-item">
                    <div class="title-div">
                        <span class="title">{{ menuItem.name }}</span>
                        <span style="color: rgba(0, 0, 0, 0.54); display: block; font-size: 14px;"></span>
                    </div>
                </div>
                <div class="description">
                    {{ menuConfigItems[0].instruction }}
                </div>
                <div class="operation-div">
                    <button tabindex="0" type="button" class="operations-button"
                        [routerLink]="['/' + menuConfigItems[0].route, menuItem.route]"
                        (click)="openServiceContentList(menuItem, menuConfigItems)" [queryParams]="{ entryform: true }">
                        <div>
                            <div class="operations-container">
                                <span matRipple class="add-button">Add</span>
                            </div>
                            <span class="material-icons plus-button"></span>
                        </div>
                    </button>
                    <button [routerLink]="['/' + menuConfigItems[0].route, menuItem.route]"
                        (click)="openServiceContentList(menuItem, menuConfigItems)" tabindex="0" type="button"
                        class="list-button">
                        <div>
                            <div class="list-div">
                                <span class="list-item">List</span>
                            </div>
                            <span class="material-icons list-icon"></span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isTableListOpenedCA" class="row ml-3">
        <div class="maintenance-left-menu-container-list">
            <div *ngIf="!APIDataResult">
                <app-progress-bar class="progress-bar"></app-progress-bar>
                <p>Loading...</p>
                <!-- <app-progress-spinner ></app-progress-spinner> -->
            </div>
            <app-list-view *ngIf="APIDataResult" [menuOption]="menuOption" [APIDataResult]="APIDataResult"
                [APIParams]="APIParams" (deleteEventEmitter)="onDelete($event)"
                (viewMoreDetailsEventEmitter)="onViewMoreDetails($event)">
            </app-list-view>
        </div>
    </div>
    <div class="maintenance-left-menu-container-div">
        <div *ngIf="isEntryformOpenedCA" class="row ml-1 mt-2">
            <app-form-header [menuOption]="menuOption"></app-form-header>
            <div class="maintenance-left-menu-list-container" style="width: 100% !important">
                <div *ngIf="APIParams === 'fields'">
                    <app-field-form [menuOption]="menuOption"></app-field-form>
                </div>
                <div *ngIf="APIParams !== 'fields'">
                    <p>This is any entry form</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="example-button-row">
            <!-- ToDo: Pass this in FAB Button - [matMenuTriggerFor]="animals" -->
            <button (click)="openDataEntryForm()" matRipple class="fab" mat-mini-fab color="primary">
                <i class="material-icons">
                    add
                </i>
            </button>
        </div>
    </div>
</div>