<main class="maintenance-left-menu-container">
  <div>
    <div>
      <div>
        <div class="left-bar" class="maintenance-left-menu-container-item">
          <div class="maintenance-left-menu-container-holder">
            <div>
              <span tabindex="0" class="maintenance-left-menu-span">
                <div>
                  <div class="maintenance-left-menu-icon-text-representation">
                    <span class="material-icons" color="#757575"
                      class="maintenance-left-menu-folder-icon">folder_open</span>
                    <div>Fields</div>
                  </div>
                </div>
              </span>
            </div>
            <div>
              <span tabindex="0" class="maintenance-left-menu-span">
                <div>
                  <div class="maintenance-left-menu-icon-text-representation">
                    <span class="material-icons" color="#757575"
                      class="maintenance-left-menu-folder-icon">folder_open</span>
                    <div>Fields Groups</div>
                  </div>
                </div>
              </span>
            </div>
            <div>
              <span tabindex="0" class="maintenance-left-menu-span">
                <div>
                  <div class="maintenance-left-menu-icon-text-representation">
                    <span class="material-icons" color="#757575"
                      class="maintenance-left-menu-folder-icon">folder_open</span>
                    <div>Fields Options</div>
                  </div>
                </div>
              </span>
            </div>
            <div>
              <span tabindex="0" class="maintenance-left-menu-span">
                <div>
                  <div class="maintenance-left-menu-icon-text-representation">
                    <span class="material-icons" color="#757575"
                      class="maintenance-left-menu-folder-icon">folder_open</span>
                    <div>Fields Options Groups</div>
                  </div>
                </div>
              </span>
            </div>
          </div>
          <div>
            <span tabindex="0" class="maintenance-left-menu-span">
              <div>
                <div class="maintenance-left-menu-icon-text-representation">
                  <span class="material-icons" color="#757575"
                    class="maintenance-left-menu-folder-icon">folder_open</span>
                  <div>Fields Options Groups Set</div>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
