<main class="maintenance-left-menu-container">
  <div>
    <div>
      <div>
        <div class="left-bar" class="maintenance-left-menu-container-item">
          <div class="maintenance-left-menu-container-holder">
            <div>
              <span tabindex="0" class="maintenance-left-menu-span">
                <div>
                  <div matRipple [matRippleColor]="rippleEffectsColor" [routerLink]="['/fields', 'fieldsGroup' ]" routerLinkActive="active" class="maintenance-left-menu-icon-text-representation">
                    <i class="material-icons maintenance-left-menu-folder-icon">
                      folder
                    </i>
                    <div>Fields Groups</div>
                  </div>
                </div>
              </span>
            </div>
            <div>
              <span tabindex="0" class="maintenance-left-menu-span">
                <div>
                  <div class="maintenance-left-menu-icon-text-representation">
                    <i class="material-icons maintenance-left-menu-folder-icon">
                      folder
                    </i>
                    <div>Fields Options</div>
                  </div>
                </div>
              </span>
            </div>
            <div>
              <span tabindex="0" class="maintenance-left-menu-span">
                <div>
                  <div class="maintenance-left-menu-icon-text-representation">
                    <i class="material-icons maintenance-left-menu-folder-icon">
                      folder
                    </i>
                    <div>Fields Options Groups</div>
                  </div>
                </div>
              </span>
            </div>
          </div>
          <div>
            <span tabindex="0" class="maintenance-left-menu-span">
              <div>
                <div class="maintenance-left-menu-icon-text-representation">
                  <i class="material-icons maintenance-left-menu-folder-icon">
                    folder
                  </i>
                  <div>Fields Options Groups Set</div>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- How Much The Work Is That -->
  
</main>