<main *ngIf="menuConfigItems" class="maintenance-left-menu-container">
    <div>
        <div>
            <div>
                <div class="left-bar" class="maintenance-left-menu-container-item">
                    <div class="maintenance-left-menu-container-holder">
                        <div *ngFor="let menu of menuConfigItems[0]?.menuOptions"
                            (click)="onClickLeftMenuList(menu, menuConfigItems)">
                            <span tabindex="0" class="maintenance-left-menu-span">
                                <div>
                                    <div class="left-menu-item" matRipple
                                        [routerLink]="['/' + menuConfigItems[0].route, menu.route]"
                                        routerLinkActive="active"
                                        class="maintenance-left-menu-icon-text-representation">
                                        <i class="material-icons maintenance-left-menu-folder-icon">
                                            folder
                                        </i>
                                        <div>{{ menu.name }}</div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="menuConfigItems" class="maintenance-right-menu-container">
        <app-content-area [isEntryformOpened]="isEntryformOpened" [APIParams]="APIParams"
            [APIDataResult]="APIDataResult" [menuConfigItems]="menuConfigItems" [isTableListOpened]="isTableListOpened"
            [isModuleServicesOpened]="isModuleServicesOpened" class="content-area"
            (createEventEmitter)="onCreate($event)" (viewMoreDetailsEventEmitter)="onViewMoreDetails($event)"
            (saveEventEmitter)="onSave($event)">
        </app-content-area>

        <!-- ToDo:Reviw this implementation and improve it -->
        <!-- <div *ngIf="APIResponse">
            <button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
                {{ APIResponse.message }} Message
            </button>
        </div> -->
        <!-- ToDo:Reviw this implementation and improve it -->
    </div>
    <div *ngIf="entityDetails?.status" class="content-detail">
        <mat-card class="example-card">
            <mat-card-header class="icon-right">
                <i matRipple class="material-icons" (click)="onClose()">
                    cancel
                </i></mat-card-header>
            <mat-card-content>
                <p style="font-weight: bold;">Name</p>
                <p>{{ entityDetails?.data?.name }}</p>
                <p style="font-weight: bold;">Description</p>
                <p>{{ entityDetails?.data?.description }}</p>
                <p style="font-weight: bold;">Created</p>
                <p>{{ entityDetails?.data?.created | date }}</p>
                <p style="font-weight: bold;">Last Updated</p>
                <p>{{ entityDetails?.data?.lastUpdated | date }}</p>
                <p style="font-weight: bold;">ID</p>
                <p>{{ entityDetails?.data?.id }}</p>
                <p style="font-weight: bold;">link</p>
                <a href="{{ entityDetails?.siteURL }}">{{ entityDetails?.siteURL }}</a>
            </mat-card-content>
        </mat-card>
    </div>
</main>